/* ----- 1.1 ELEMENTS ----- */
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html *::selection {
    background: $main-accent;
    color: $secondary-accent;
}
  
html *::-webkit-selection {
    background: $main-accent;
    color: $secondary-accent;
}
  
html *::-moz-selection {
    background: $main-accent;
    color: $secondary-accent;
}

body, html {
    height: 100%;
}

html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
html,
html body {
    background: $bg-color;
}

body {
    font-size: 16px;
    line-height: 1;
    -webkit-text-size-adjust: none;
    color: $main-accent;
}
._container {
    background: $bg-color;
}

a {
    color: $main-accent;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}


iframe {
    border: none
}

ul {
    list-style: square
}

img,
figure,
svg {
    height: 100%;
    width: 100%;
}


/* ----- 1.2 FONTS ----- */
/* BODY */
body,
input,
textarea,
select,
input[type=file],
input[type=submit],
button,
label {
    font-family: $main-font, $fallback-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 1rem;
}

/* CONTENT ALIGNMENT */
._container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.aligncenter,
.alignnone,
.alignright,
.alignleft {
    display: block;
    margin: 1.6em auto;
    clear: both;
}

.flex-fill {
    flex-grow: 1;
    flex-shrink: 0;
}

