header {
    background-color: rgba($main-accent, .02);
    border-bottom: 1px solid rgba($main-accent, .05);
    width: 100%;
    padding: clamp(24px, 1vw, 10rem) 0;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .ne {
    width: 1rem;
    height: 1rem;
    margin: 0;
}

header .ne:hover {
    filter: drop-shadow(0 0 0.5rem rgba($main-accent, .5));
}