// @import "../components/lib/css/normalize/8.0.1/normalize";
@import "../components/sass/colors";
@import "../components/sass/vars";
@import "../components/sass/root";
@import "../components/sass/res";

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 700;
  
    color: #FF3C00;
    background-color: #F4F0E6;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  
  a {
    font-weight: 500;
    color: #FF3C00;
    text-decoration: inherit;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto Mono', monospace;
  }
  
  
  svg,
  img {
    width: 100%;
    height: 100%;
  }
  
  h1 {
    font-size: clamp(1rem,8vw, 3.2rem);
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Anton', sans-serif;
  }
  
  #app {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .logo {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    margin: 2rem .5rem;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2rem #FF3C00aa);
  }
  
  .card {
    padding: 2rem;
  }
  
  .read-the-docs {
    color: #FF3C00;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid #F6CCB8;
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background: transparent;
    color: #FF3C00;
    cursor: pointer;
    transition: border-color 0.25s;
  
    margin: auto;
    display: flex;
    gap: 8px;
    align-items: center;
  }
  span.spinner {
    width: 1.1rem;
    height: 1.1rem;
  }
  button:hover,
  button:focus,
  button:focus-visible {
    border-color: #FF3C00;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
  }
  h2 {
    font-size: 1rem;
    font-weight: 700;
  }
  header,
  footer {
    background-color: #FF3C0002;
    width: 100%;
    padding: clamp(24px,1vw,10rem) 0;
  }
  header .ne {
    width: 1rem;
    height: 1rem;
    margin: 0;
  }
  header .ne:hover {
    filter: drop-shadow(0 0 .5rem #FF3C00aa);
  }
  footer {
    display: flex;
    overflow: hidden;
  }
  footer h4 {
    font-size: 1rem;
    font-weight: 700;
    white-space: nowrap;
  }
  